
body {
  background-color: #000;
  /* font-family: 'Nosifer', cursive; */
}

/* 描边 */
.text-stroke {
  font-size: 100px;
  font-weight: 700;
  color: #ef5c78;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
}

/* 渐变 */
.text-gradual-change {
  font-size: 100px;
  font-weight: 700;
  background: linear-gradient(to right, #fff, #BF391B, #0D0D0D);
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* 渐变与描边 */
.over-and-stroke {
  font-size: 100px;
  font-weight: 700;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(255, 142, 193) 4%, rgb(255, 152, 185) 14%, rgb(255, 142, 193) 30%,rgb(255, 188, 156) 45%, rgb(255, 234, 119) 73%,rgb(255, 234, 119) 85%);
  background-image: -webkit-linear-gradient(0deg, rgb(255, 142, 193) 4%, rgb(255, 152, 185) 14%, rgb(255, 142, 193) 30%,rgb(255, 188, 156) 45%, rgb(255, 234, 119) 73%,rgb(255, 234, 119) 85%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* 阴影 */
.text-shadow {
  color: #ef5c78;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 4px 2px yellow;
}

/* 多重阴影 */
.text-shadow-all {
  color: #ef5c78;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 4px 4px #fff, 8px 8px 3px yellow;
}

/* 多重描边 */
.text-wai-stroke {
  color: #ef5c78;
  position: relative;
  z-index: 0;
  font-size: 100px;
  font-weight: 700;
  height: 140px;
}
.text-wai-stroke::before,
.text-wai-stroke::after {
  content: attr(data-text);
  position: absolute; 
  left: 0;
  z-index: -1;
}
.text-wai-stroke::before {
  -webkit-text-stroke: 10px #ffffff;
  
}
.text-wai-stroke::after {
  -webkit-text-stroke: 2px #e80d2c;
}

/* 发光 */
.text-light {
  font-size: 100px;
  font-weight: 700;
  color: #ef5c78;
  text-shadow: 0px 0px 50px yellow;
}

/* demo0 */
.demo-style-0 {
  font-size: 66px;
  font-weight: 700;
  color: #fff;
  text-shadow: 5px 2px #DB6F20;
}

/* demo1 */
.demo-style-1 {
  font-size: 66px;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke-color: #E02828;
  -webkit-text-stroke-width: 2px;
  text-shadow:5px 2px 22px #F8B6C0;
}

/* demo2 */
.demo-style-2 {
  font-size: 66px;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  text-shadow:5px 2px #F2536D;
}

/* demo3 */
.demo-style-3 {
  position: relative;
  z-index: 0;
  font-size: 66px;
  font-weight: 700;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  background-image: linear-gradient(0deg, #FFF1A6 0%, #EE4850 25%, #B564D9 50%, #FEF1A6 75%);
  background-image: -webkit-linear-gradient(0deg, #FFF1A6 0%, #EE4850 25%, #B564D9 50%, #FEF1A6 75%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* demo4 */
.demo-style-4 {
  position: relative;
  z-index: 0;
  font-size: 66px;
  font-weight: 700;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  background-image: linear-gradient(0deg, #FFF1A6 0%, #EE4850 25%, #B564D9 50%, #FEF1A6 75%);
  background-image: -webkit-linear-gradient(0deg, #FFF1A6 0%, #EE4850 25%, #B564D9 50%, #FEF1A6 75%);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 5px 2px #FFB1C2;
}